{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Universidad Catolica de Temuco</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi officia ipsam fuga voluptatibus quasi quia amet maxime expedita ad, optio, 
            explicabo enim ullam necessitatibus veniam magnam facere repellendus quam nobis?
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/logo.png" alt="" class="img-thumbnail">    
    </div>
</div>
    
{{> footer }}